<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/src/static/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
<div class="form-Bg">
    <div class="form-header">
        <!-- <h1>Vítaj</h1> -->
        <h3>LEARNET</h3>
        <text>Networking & Security</text>
    </div>

    <form>
        <div class="form-group">
            <button formaction="/homepage">Vstúpiť</button>
        </div>
    </form>


</div>

<div class="animation-area">
    <ul class="box-area">
        <li class="fas fa-network-wired"></li>
        <li></li>
        <li class="fas fa-ethernet"></li>
        <li></li>
        <li class="fas fa-project-diagram"></li>
        <li></li>
        <li class="fas fa-server"></li>
        <li></li>
        <li class="fas fa-wifi"></li>
        <li></li>
    </ul>
</div>
</body>
</html>