{% extends "base_templates/new_home.html" %} {% block title %}  Login {% endblock %}

{% block content %}
    <header class="header_login">
          <!--<video class="video_fullscreen" src="/src/static/video/background.mp4" autoplay muted loop>  </video> -->
        <div class="card">
            <h3> Login</h3>

            <div class="form-group">
                <i class="fas fa-user"></i>
                <label>Username</label>
                <input type="text" required>
            </div>

            <div class="form-group">
                <i class="fas fa-lock"></i>
                <label>Password</label>
                <input type="password" required>
            </div>
            <button class="btn" type="submit">Login</button>

        </div>
    </header>
{% endblock %}



